.pyh{
    padding-inline: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(211,215,218,1) 12%, rgba(43,67,87,1) 75%);  ;
    div{
        text-align: center;
        padding-top: 10px;
    }
    a{
        color: white;
        font-size: larger;
    }
}