
.nosotros{
    height: auto;
    background-color: gainsboro;
    padding-inline: 20px;
    padding-top: 100px;
    padding-bottom: 100px;}
    .rutinas{
        padding-top: 20px;
        padding-bottom: 200px;
        margin-inline: 40px;
        .rutinas-items{
            text-align: center;
            background-color: #2b4257c2;
            border-radius: 10px;
            border-style:double ;
            color: white;
            h5{
                font-family: 'Times New Roman', Times, serif;
                font-size: x-large;
            }
            h5::first-letter{
                color:rgb(0, 0, 0);
                font-size: xx-large;
            }
            .p{
            padding-inline: 10px;
            padding-top: 50px;
            }
            }
    }